body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Kumbh Sans', sans-serif;
    #main-container
    {    
        width:100%;
        height: 600px;        
        display: flex;
        justify-content: center;              
        background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)); 
        
        #main-card-container
        {
            background-color: whitesmoke;  
            width: 70%;
            height: 80%;   
            border-radius: 20px;                     
            align-self: center;            
            display: flex; 
            
            #left-container
            {
                width: 50%;                                                                               
            }

            #rigth-container
            {
                width: 50%; 
                margin-top: 3%;                             
                
                #faq-container
                {                    
                    width: 85%;                                      

                    .show-hidden-element
                    {                        
                        color: gray; 
                        margin-bottom: 10%; 
                        border-bottom: 1px solid  hsl(240, 5%, 91%);                                                                                             
                        .faq-title
                        {                            
                            font-size: smaller;
                            font-weight: bold;                                                                                                        
                        }
                        .faq-title:hover
                        {
                            cursor: pointer;
                            color:hsl(14, 88%, 65%);                            
                        }                        
                        .faq-text
                        {                                                        
                            font-size: small;                                                                                                               
                        }                        
                    }
                }
                
            }
        }
    }




    #attribution
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size:x-small;
    }
}
